body {
    background-image: linear-gradient(to bottom right, lightskyblue, white);
}

#logo-loja {
    display: inline-block;
    font-size: 30px;
    margin-top: -37px;
    margin-left: 20px;
}

.menu {
    display: inline-block;
    margin-left: 51px;
}

.icone-menu {
    margin: 5px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.titulo {
    margin-left: 40%;
}

table {
    margin-left: 28%;
    text-align: center;
}