#logo-loja {
    font-size: 60px;
    margin: 5% 5% 5% 30%;    
}

#div-chamada {
    display: inline-block;
    margin-left: 1.5%;
    margin-top: -5%;
}

#div-menu {
    display: inline-block;
    width: 5%;
    height: 5%;
    margin-right: 3%;
}

.menu {
    display: inline-block;
    margin-left: 20%;
}

.icone-menu {
    margin: 5px;
    font-size: 20px;
}

#descricao-loja {
    display: block;
    margin: 3% 5%;
    margin-bottom: 15%;
    font-size: 150%;
}

#redes-sociais {
    font-size: 20px;
    margin-bottom: 1%;
    align-items: flex-end;
}

.social {
    width: 3%;
}